/* Style Sheet for frontend */

body{
  padding-bottom: 120px;
  margin: 0px
  background-color: #ffffff;
  color: #000000;
}


@media (prefers-color-scheme: dark){
  body{
    background-color: #302f33;
    color: #ffffff;
  }
}

.TitleSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EADDCA /*Almond color*/ 

  height: 10vw;
}

.TitleText{
  font-weight: bold;
  font-size: 24pt;
  justify-content: center;
  align-items: center;
}

.userTextbox{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 1000;
}

.userTextbox-inner{
  max-width: 800px;
  margin: 0 auto;
  display: flew;
  gap: 12px;
  padding: 0 20px;
  align-items: flex-end;
}

.userTextbox-inner textarea{
  flex-grow: 1;
  height: 60px;
  min-width: 30vw;
  min-height: 40px;
  max-height: 150px;
  padding: 12px;
  border: 1px solid;
  border-radius: 8px;
  resize: none;
}
